/* Base Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* HTML5 element reset*/
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* Inherit fonts for consistent sizing */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Line height normalization */
body {
  line-height: 1;
}
/* List style reset */
ol,
ul {
  list-style: none;
}
/* Quote tag normalization */
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
/* Table normalization */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* start here */
:root {
  --primary-color: lightseagreen;
}
body {
  background: #b6d3d3;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  max-width: 1000px;
  margin: 0 auto;
  gap: 10px;
}
.container h1 {
  font-size: 30px;
  letter-spacing: 1px;
}
.underline {
  width: 80px;
  border: 3px solid var(--primary-color);
}
.reviews {
  background-color: #fff;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  gap: 10px;
  margin-top: 40px;
}
.image-container {
  width: 150px;
  height: 150px;
  border: 1px solid red;
  border-radius: 50%;
}
.job {
  color: lightseagreen;
}
.info {
  line-height: 25px;
}
.btn-container {
  display: flex;
  gap: 20px;
}
.btn-container button {
  color: var(--primary-color);
  background: none;
  font-size: 20px;
}
.radom-btn {
  background-color: aliceblue;
  border: 2px solid darkcyan;
  padding: 5px;
  border-radius: 10px;
}

.radom-btn span {
  color: var(--primary-color);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
